In [30]:
import pandas as pd
import pickle as pkl
import numpy as np



interaction = ['sum', 'hadamard', 'concat']
vocab_size = [10000, 50000]
embed_size = [50, 100]

d = {
    'logistic_acc':[],
    'nn_acc':[],
    'interaction':['sum','sum','sum','sum','hadamard','hadamard','hadamard','hadamard','concat','concat','concat','concat'],
    'vocab_size':[10000, 10000, 50000, 50000,10000, 10000, 50000, 50000,10000, 10000, 50000, 50000],
    'embed_dim':[50, 100, 50, 100, 50, 100, 50, 100, 50, 100, 50, 100]
}

files = [
'10000_100_concat_log',
'10000_100_concat_nn',
'10000_100_hadamart_log', 
'10000_100_hadamart_nn', 
'10000_100_sum_log', 
'10000_100_sum_nn', 
'10000_50_concat_log', 
'10000_50_concat_nn', 
'10000_50_hadamart_log', 
'10000_50_hadamart_nn', 
'10000_50_sum_log', 
'10000_50_sum_nn',
'50000_100_concat_logistic', 
'50000_100_concat_nn', 
'50000_100_hadamart_logistic', 
'50000_100_hadamart_nn', 
'50000_100_sum_logistic', 
'50000_100_sum_nn',
'50000_50_concat_log', 
'50000_50_concat_nn',
'50000_50_hadamart_log', 
'50000_50_hadamart_nn',
'50000_50_sum_log',
'50000_50_sum_nn'
]


for file in files:
    content = pkl.load(open('./results_3_1/'+file+'.p', "rb"))
    file_info = file.strip('').split('_')
    v_size = file_info[0]
    e_size = file_info[1]
    inter = file_info[2]
    model = file_info[3]
    
    print(model)
    if model == 'log':
        model == 'logistic'
    print(model)
    model += '_acc'
    
    max_accs = max(content['val_accs'])
    
    d[model].append[max_accs]
    

df= pd.DataFrame(d, columns = ['logistic_acc', 'nn_acc', 'interaction', 'vocab_size', 'embed_dim'])

log
log

KeyError: 'log_accs'

In [7]:
df

    logistic_acc  nn_acc interaction  vocab_size  embed_dim
0              1       0         sum       10000         50
1              1       0         sum       10000        100
2              1       0         sum       50000         50
3              1       0         sum       50000        100
4              1       0    hadamard       10000         50
5              1       0    hadamard       10000        100
6              1       0    hadamard       50000         50
7              1       0    hadamard       50000        100
8              1       0      concat       10000         50
9              1       0      concat       10000        100
10             1       0      concat       50000         50
11             1       0      concat       50000        100

In [9]:
df1 = df.set_index(['interaction', 'vocab_size', 'embed_dim'])

In [10]:
df1

                                  logistic_acc  nn_acc
interaction vocab_size embed_dim
sum         10000      50                    0       0
                       100                   0       0
            50000      50                    0       0
                       100                   0       0
hadamard    10000      50                    0       0
                       100                   0       0
            50000      50                    0       0
                       100                   0       0
concat      10000      50                    0       0
                       100                   0       0
            50000      50                    0       0
                       100                   0       0